  <div class="main_group">
    <table class='table table-hover table-inverse'>
      <thead>
        <tr>
          <th></th>
          <th>タイトル</th>
          <th>本文</th>
          <th colspan="3"></th>
        </tr>
      </thead>
      <!--投稿内容一覧-->
      <tbody>
        <% runs.each do |run| %>
          <tr>
            <td><%= link_to user_path(run.user) do %>
              <%= attachment_image_tag(run.user, :profile_image, :fill, 50, 50, fallback: "no-image-icon.jpg") %>
              <% end %>
            </td>
            <td><%= link_to run.title, run_path(run), class: "run_#{run.id}" %></td>
            <td><%= run.body %></td>
            <td id="likes_buttons_<%= run.id %>">
              <%= render partial: 'likes/like-btn', locals:{run: run} %>
            </td>
            <td>コメント数: <%= run.run_comments.count %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div class="pagination">
      <%= paginate runs %></br>
    </div>
  </div>

  <h4>7日間分の投稿数</h4>
    <table class='table table-bordered'>
      <thead>
        <tr>
          <th>６日前</th>
          <th>５日前</th>
          <th>４日前</th>
          <th>３日前</th>
          <th>２日前</th>
          <th>１日前</th>
          <th>今日</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= runs.created_6day_ago.count %></td>
          <td><%= runs.created_5day_ago.count %></td>
          <td><%= runs.created_4day_ago.count %></td>
          <td><%= runs.created_3day_ago.count %></td>
          <td><%= runs.created_2day_ago.count %></td>
          <td><%= runs.created_yesterday.count %></td>
          <td><%= runs.created_today.count %></td>
        </tr>
      </tbody>
    </table>

    <canvas id="myLineChart"></canvas>
    <script>
      $(document).on('turbolinks:load', function() {
        var ctx = document.getElementById("myLineChart");
        var myLineChart = new Chart(ctx, {
          type: 'line',
          data: {
            labels: ['6日前', '5日前', '4日前', '3日前', '2日前', '1日前', '今日'],
            datasets: [
              {
                label: '投稿数',
                data: [<%= runs.created_6day_ago.count %>,
                       <%= runs.created_5day_ago.count %>,
                       <%= runs.created_4day_ago.count %>,
                       <%= runs.created_3day_ago.count %>,
                       <%= runs.created_2day_ago.count %>,
                       <%= runs.created_yesterday.count %>,
                       <%= runs.created_today.count %>],
                borderColor: "rgba(0,0,255,1)",
                backgroundColor: "rgba(0,0,0,0)"
              }
            ],
          },
          options: {
            title: {
              display: true,
              text: '7日間の投稿数の比較'
            },
            scales: {
              yAxes: [{
                ticks: {
                  suggestedMax: 10,
                  suggestedMin: 0,
                  stepSize: 1,
                  callback: function(value, index, values){
                    return  value
                  }
                }
              }]
            },
          }
        });
      });
    </script>