  <div class="container">
    <div class="row">
      <div class='col-12 '>
        <div class="logo-top">
          <h1>
            <i class="fas fa-running fa-lg"></i>Runformation
          </h1>
          <h5>
            ~ランニングブログ共有サイト~
          </h5>
        </div>
   <!--サンプルでスライドショー-->
        <div id='carouselExampleIndicators' class='carousel slide carousel-fade ' data-ride='carousel'>
          <ol class='carousel-indicators'>
            <li data-target='#carouselExampleIndicators' data-slide-to='0' class='active'></li>
            <li data-target='#carouselExampleIndicators' data-slide-to='1'></li>
            <li data-target='#carouselExampleIndicators' data-slide-to='2'></li>
            <li data-target='#carouselExampleIndicators' data-slide-to='3'></li>
            <li data-target='#carouselExampleIndicators' data-slide-to='4'></li>
            <li data-target='#carouselExampleIndicators' data-slide-to='5'></li>
            <li data-target='#carouselExampleIndicators' data-slide-to='6'></li>
          </ol>
          <div class='carousel-inner'>
            <div class='carousel-item active'>
              <%= image_tag 'run1.jpg', width: '570px', height: '370px' %>
            </div>
            <div class='carousel-item'>
              <%= image_tag 'run2.jpg', width: '570px', height: '370px' %>
            </div>
            <div class='carousel-item'>
              <%= image_tag 'run3.jpg', width: '570px', height: '370px' %>
            </div>
            <div class='carousel-item'>
              <%= image_tag 'run4.jpg', width: '570px', height: '370px' %>
            </div>
            <div class='carousel-item'>
              <%= image_tag 'run5.jpg', width: '570px', height: '370px' %>
            </div>
            <div class='carousel-item'>
              <%= image_tag 'run6.jpg', width: '570px', height: '370px' %>
            </div>
            <div class='carousel-item'>
              <%= image_tag 'run0.jpg', width: '570px', height: '370px' %>
            </div>
          </div>
          <a class='carousel-control-prev' href='#carouselExampleIndicators' role='button' data-slide='prev'>
            <span class='carousel-control-prev-icon' aria-hidden='true'></span>
            <span class='sr-only'>Previous</span>
          </a>
          <a class='carousel-control-next' href='#carouselExampleIndicators' role='button' data-slide='next'>
            <span class='carousel-control-next-icon' aria-hidden='true'></span>
            <span class='sr-only'>Next</span>
          </a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class='logo-top col-12 '>
      <h1 >走った経験を活かしませんか？</h1>
      </div>
    </div>
    <div class="box-top row">
      <div class='col-12 '>
        <h4>
            あなたのランニング経験が誰かの役に立つ。<br>
            自分のランニング記録に活用することにもできますが、<br>
            本サイトはその経験が同じランナーを勇気づけるものになることを第一に望んでいます。<br>
            さぁ、あなたの経験を共有しましょう！
        </h4>
      </div>
    </div>
    <div class="row">
      <div class="col-5 mx-auto">
       <%= link_to new_user_registration_path, class: "btn btn-warning btn-lg btn-block" do %>
       <i class="fas fa-user-plus">新規登録</i>
       <% end %>
      </div>
      <div class="col-5 mx-auto">
       <%= link_to new_user_session_path, class: "btn btn-info btn-lg btn-block" do %>
       <i class="fas fa-user-check">ログイン</i>
       <% end %>
      </div>
    </div><br>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-10 mx-auto" >
        <%= link_to home_about_path,class: "btn btn-secondary btn-lg btn-block"  do %>
        <h2 class="text-run">Runformationとは <%= image_tag("about.png", size: "30x30") %></h2><br>
        <% end %>
      </div><br>
    </div><br>
    <div class="box7 row">
      <div class="text-center col-12">
         <h2>お問い合わせ</h2>
          <h5 class="top-text">
           サイトの感想、気になった点、不具合、こんな機能があったらいいな等、</br>
           何かございましたらお気軽にご連絡ください。
          </h5>
         <h2><i class="fas fa-envelope"></i>  runformation@gmail.com </h2><br>
      </div><br>
    </div><br>
  </div>