<h2>コメント欄</h2>
  <table>
    <tr>
      <td>
        <%= form_with model:[@run,@run_comment], local: true do |f| %>
         <%= f.text_area :comment  %><br>
         <div id="evaluate_stars">
           <label>評価</label>
         </div>
         <div class="actions">
          <%= f.submit '送信'%>
         </div>
        <% end %>
      </td>
    </tr>
    <% @run.run_comments.each do |run_comment| %>
      <% run_comment_user = run_comment.user %>
      <tr>
        <td>
          <%= link_to user_path(run_comment_user), class: "user_#{run_comment_user.id}" do %>
          <%= attachment_image_tag run_comment_user, :profile_image, :fill, 50, 50, fallback: "no_image.jpg", size: "50x50" %><br>
          <%= run_comment_user.name %>
          <% end %>
        </td>
      </tr>
      <tr>
        <td>
          <%= run_comment.comment %>
        </td>
      </tr>
      <tr>
        <td class="run_comments-evaluation" data-score="<%= run_comment.evaluation %>">
        </td>
       <% if current_user == run_comment_user %>
        <td>
          <%= link_to 'Destroy', run_run_comment_path(run_comment.run_id,run_comment.id), class: 'btn-sm btn-danger', method: :delete %>
        </td>
       <% end %>
      </tr>
    <% end %>
  </table>

<script>
  $(function(){

    $('#evaluate_stars').raty({
      size: 36,
      starOn: "<%= asset_path('star-on.png') %>",
      starOff: "<%= asset_path('star-off.png') %>",
      starHalf: "<%= asset_path('star-half.png') %>",
      scoreName: 'run_comment[evaluation]' //登録するモデル名とカラム名を記述
    });
    $('.run_comments-evaluation').raty({
      readOnly: true,
      score: function() {
        return $(this).attr('data-score');
      },
      starOn: "<%= asset_path('star-on.png') %>",
      starOff: "<%= asset_path('star-off.png') %>",
      starHalf: "<%= asset_path('star-half.png') %>"
    });
  });
</script>

